{% extends '::base.html.twig' %}

{% block title 'Books' %}
    {% block stylesheets %}
        {{ parent() }}
    {% endblock %}
{% block body %}

        {% if app.session.flashBag.has('success') %}
            <ul>
            {% for message in app.session.flashBag.get('success') %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}

    {% if app.session.flashBag.has('error') %}
        <ul>
            {% for message in app.session.flashBag.get('error') %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% for aCategory in categories %}
        <p>{{ aCategory.id }} {{ aCategory.name }}</p>
    {%  endfor %}
{% endblock body %}